
.Movies-container{
   /* border: 2px solid red; */
   height: 70vh;
   width: 25em;
   background-color: antiquewhite;
   padding: 10px;
   margin-bottom: 2%;
   border-radius: 10px;
   
   /* margin: %; */
}

.main-Container{
   display: flex;
   text-align: center;
   justify-content: center;
   flex-wrap: wrap;
   justify-content: space-around;
   
}

img{
    width: 20em;
    height: 50vh;
}

.btn{
    background-color: rgb(211, 169, 169);
    padding: 10px;
    border-radius: 10px;
    width: 15em;
    font-weight: bold;
    font-size: 1.2em;
}
.Header-content{
    background-color: rgb(65, 61, 61);
    color: aliceblue;
    border: 2px solid green;
    width: 30em;
    margin-left: 35%;
    margin-top: 2%;
    margin-bottom:3% ;
    border-radius: 30px;
    padding: 10px;
}