*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.logo{
    font-size: 3rem;
}

.Navbar_list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75px;
    width: 100%;
    background-color: #00828c;
    color: white;
    z-index: 1;
}

 ul {
    display: flex;
}

ul li  {
   list-style: none;
   margin: 1rem;
}
a{
color: white;
}

button{
    /* color: black; */
    background-color: black;
    width: 10em;
    font-size: bold;
    font-weight: 2em;
}

.Hum{
    display: none;
}

@media screen and (max-width:608px) {
    .Hum{
        display:inline;
        position: fixed;
        margin-left: 20em;
    }
    /* .logo{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 75px;
        background-color: #00828c;
        color: white;
        flex-direction: column;
        border: 2px solid black;
    } */
    ul{
        margin-top: 95%;
        margin-left: 62%;
        display: flex;
        /* justify-content: space-around; */
        align-items: center;
        height: 75vh;
        width: 225px;
        background-color: #00828c;
        color: white;
        flex-direction: column;
        /* border: 2px solid black; */
        /* z-index: 1; */
    }
    .logo{
        font-size: 3rem;
        position: fixed;
        margin-left: -50px;
    }
}