html{
    background-color: rgb(234, 156, 169);
    /* color: #fff; */
}
.card-content{
    color: #f9d7d7;
    background-color: rgb(150, 93, 150);
    height: 70vh;
    width: 20%;
    margin-top: 50px;
    margin-left: 80px;
    justify-items: center;
    border-radius: 30px;
    box-shadow: 10px 5px 5px 5px;
    margin-left: 20px;
}

img{
    display: inline;
    margin-top: 30px;
    margin-left: 30px;
    width: 150px;
    clip-path: circle();
}

button{
    height: 50px;
    width: 100px;
    padding: 15px;
    font-weight: bold;
    border-radius: 20px;
    background-color: rgb(126, 126, 208);
    margin-top: 20px;
}